html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fafafa;
  min-block-size: 100%;
}
form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0 ;
}
input[type=text]:not(.browser-default):focus:not([readinly]),
input[type=email]:not(.browser-default):focus:not([readinly]),
input[type=password]:not(.browser-default):focus:not([readinly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}


