/* body {
  margin: 0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 10px;
  color: gray;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
   
}

.firebaseui-container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 300px;
  padding-top: 30px;
} */
html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fafafa;
  min-block-size: 100%;
}
form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0 ;
}
input[type=text]:not(.browser-default):focus:not([readinly]),
input[type=email]:not(.browser-default):focus:not([readinly]),
input[type=password]:not(.browser-default):focus:not([readinly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}


